{% extends "base_generic.html" %}

{% block content %}
    <h1>Blogs you have written </h1>

    {% if blog_list %}
    <ul>

      {% for blog in blog_list %} 
      <li class="">
        <a href="{% url 'blog-detail' blog.pk %}">{{blog.title}}</a> ({{blog.post_date}})  
        <a href="{% url 'blog-update' blog.pk %}">Edit</a> 
        <form style='display: inline; cursor: pointer;' method="POST" action="{% url 'blog-delete' blog.pk %}?next={{request.path}}">
          {% csrf_token %}<input  style=' background-color: white; text-decoration-line: pink; border: none; color: blue; cursor: pointer;' type="submit" value="DELETE">     
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>You have not written any blogs.</p>
    {% endif %}       
{% endblock %}